<h1>Books</h1>

<% @books.each do |book| %>

  
  
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <%= link_to "Show", 'book_path(book.id)' %>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  
  
<% end %>
